<!-- <div class="background"></div> -->


<div *screenBelowLarge>
  <fw-mobile-standaard></fw-mobile-standaard>
</div>

<!--------------------------------->

<div *screenLarge>

  <div class="flexbox-container">
    <a href="home"><img src="assets/logo.jpg" alt="Van Dijken Communicatie" height="100px"></a>
    <nav>
      <ul class="nav-links">
        <li><a href="aanbod">Aanbod</a></li>
        <li><a href="projecten">Projecten</a></li>
        <li><a href="opdrachtgevers">Opdrachtgevers</a></li>
        <li><a href="profiel">Profiel</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="contact">Technieken en Methoden</a></li>


        
        <li><a href="home">Social Media</a></li>

      </ul>
    </nav>
    <a class="cta" href="login"><button>Login</button></a>
    <!-- <img src="assets/linkedin/in.png" alt="LinkedIn" height="50px"> -->
    <fw-linkedin-icon height='50' href="http://www.linkedin.com"></fw-linkedin-icon>

  </div>
</div>
