:host {
  flex-grow: 1;
}

.group {
  display: flex;
}



.index {
  display: flex;
  width: 80px;
  background-color: #555;
  color: white;
  font-size: 32px;
  align-items: center;
  justify-content: center;
}

.book-image {
//   width: 240px;
//   margin: 14px;
  background-size:cover;
}

.writer-title{
 display: flex;
 flex-direction: column;
 flex-grow: 1;


}

.book-title {
  display: flex;
  flex-grow: 3;
  font-size: 34px;
  color: #555;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.book-writer{
    // text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-grow: 1;
  background-color: yellow;


}

.book-index {
  display: flex;
  font-size: 44px;
  width: 180px;
  color: white;
  background-color: green;
  align-items: center;
  justify-content: center;
}

.book-image {
    width: 240px;
    margin: 14px;
  }


// Small Screen

.group-small {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .title-group-small {
//   display: flex;
// }

.book-writer-small  {
 text-align:center
}

.book-title-small{
    text-align:center
}

// .index-small {
//   width: 50px;
//   text-align: center;
//   background-color: #555;
//   color: white;
//   font-size: 32px;
// }



.book-image-small {
  widows: 100%;



}
