<div *screenLarge class="flex-row-container">
  <!-- book : {{ book | json }} -->

  <div class="flex-row-item">
   <!--  <div class="index">
      <span>{{ index }}</span>
    </div>

    <div>
      <img class="book-image" src="/assets/book-cover.jpeg" [alt]="book.title">
    </div>

    <div class="writer-title">

      <div class="book-writer">
        <span>{{ book.writer}}</span>
      </div>

      <div class="book-title">
        <span>{{ book.title}}</span>
      </div>
    </div> -->
  </div>
</div>




<div *screenBelowLarge class="group-small">

  <div class="book-writer-small">
    <span>{{book.writer}}</span>
  </div>

  <div>
    <img class="book-image-small" src="/assets/book-cover.jpeg" [alt]="book.title">
  </div>

  <div class="book-title-small">
    <span>{{book.title}}</span>
  </div>

</div>
