<fw-panel *ngFor="let book of books;let i=index">
  <app-book-panel [book]="book" [index]="i+1">
  </app-book-panel>
</fw-panel>


<div class="flex-row-container">
  <div *ngFor="let book of books;let i=index" class="flex-row-item">
      <div class="index">
      <span>{{ index }}</span>
    </div>

    <div>
      <img class="book-image" src="/assets/book-cover.jpeg" [alt]="book.title">
    </div>

    <div class="writer-title">

      <div class="book-writer">
        <span>{{ book.writer}}</span>
      </div>

      <div class="book-title">
        <span>{{ book.title}}</span>
      </div>
    </div>



  </div>
 
</div>
