<!-- <p>framework-body works!</p> -->
<!-- <fw-menu-bar></fw-menu-bar> -->



<!-- <hr /> -->
<!-- <div class="background"></div> -->


<div *screenBelowLarge>
  <!-- <span>screenBelowLarge</span> -->
  <svg class="bi" width="32" height="32" fill="currentColor">
    <use xlink:href="bootstrap-icons.svg#heart-fill"/>
  </svg>
  <div class="header">


  </div>

</div>

<div *screenLarge>

  <div class="header">
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="boeken">Boeken</a></li>
      <li><a href="#">Video</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="photos">Photos</a></li>
      <li><a href="about">About</a></li>

    </ul>

  </div>



</div>

<!-- <div #boeken>Boeken</div> -->


<!-- <div #video>Video</div> -->
